html, body
	margin 0
	padding 0

a
	color black
	text-decoration none
	// &:hover
	// 	text-decoration underline

.title_block
	width 1280px
	margin 0 auto
	padding-top 60px
	padding-bottom 60px
	padding-left 20px
	padding-right 20px
	box-sizing border-box
	position relative
	// border 1px solid red
	.title_sub
		position absolute
		width 500px
		overflow hidden
		white-space nowrap
		left 20px
		font 16pt/41pt 'Pragmatica Extended Regular'
	.logo
		text-align center
		font 30pt/32pt 'Times'
		display block
	.contacts
		position absolute
		right 20px
		top 75px
		a
			display block
			font 16pt/18pt 'Pragmatica Extended Regular'


.content_block
	width 1280px
	margin 0 auto
	overflow hidden
	padding-left 20px
	padding-right 20px
	box-sizing border-box
	// border 1px solid red