.work_item
	display block
	float left
	width 340px
	height 320px
	margin-right 20px
	.work_images
		position relative
		width 340px
		height 240px
		.work_image
			display none
			width 340px
			height 240px
			position absolute
			background-position center
			background-size contain
			background-repeat no-repeat
			&.active
				display block
	.work_title
		text-align center
		font 14pt/16pt 'Pragmatica'
		margin-top 20px