.works_block
	margin-left -20px
	overflow hidden

.work_item
	display block
	float left
	width 230px
	// height 300px
	margin-left 20px
	margin-bottom 20px
	position relative
	// background-color lightgrey
	.work_poster
		width 100%
		height 240px
		position absolute
		background-position center
		background-size cover
		background-repeat no-repeat
		z-index 99999
		&.hide
			display none
	.work_images
		position relative
		width 100%
		height 240px
		.work_image
			display none
			width 100%
			height 240px
			position absolute
			background-position center
			background-size cover
			background-repeat no-repeat
			&.active
				display block
	.work_title
		text-align center
		font 14pt/16pt 'Pragmatica Extended Regular'
		margin-top 20px