html, body
	margin 0
	padding 0

a
	color black
	text-decoration none
	&:hover
		text-decoration underline

.title_block
	max-width 1280px
	margin 0 auto
	padding-top 60px
	padding-bottom 60px
	padding-left 20px
	padding-right 20px
	box-sizing border-box
	position relative
	// border 1px solid red
	.logo
		text-align center
		font 34pt/36pt 'Times'
		display block
	.contacts
		position absolute
		right 20px
		top 81px
		a
			display block
			font 16pt/18pt 'Pragmatica'


.content_block
	max-width 1280px
	margin 0 auto
	overflow hidden
	padding-left 20px
	padding-right 20px
	box-sizing border-box
	// border 1px solid red