
.image
	width 100%
	margin 0 auto
	display block
	margin-bottom 40px
	&.size_400
		max-width 400px
	&.size_600
		max-width 600px
	&.size_800
		max-width 800px

.gallery_block
	overflow hidden
	max-width 800px
	margin 0 auto
	margin-bottom 40px
	// border 1px solid red

	.gallery_navigate
		overflow hidden
		margin-bottom 10px
		.gallery_navigate_item
			font 12pt/14pt 'DinProBold'
			color rgb(85, 38, 188)
			cursor pointer
			user-select none
			float left
			margin-right 10px
			&:hover
				color black

	.gallery_cover
		width 100%
		height 160px
		overflow hidden
		margin-right 30px
		.gallery_outer
			white-space nowrap
			overflow scroll
			vertical-align top
			width 100%
			height 180px
			top 60px
			bottom 0
			.gallery_inner
				display inline-block
				height 100%
				.column
					width auto
					cursor pointer
					min-width 80px
					height 140px
					border 5px solid rgb(85, 38, 188)
					margin-right 10px
					display inline-block
					&:hover
						border 5px solid black
					&:last-child
						margin-right 0px