extends ../layout
include ../_forms.jade

block paths
	- var content_title= 'РЕДАКТИРОВАТЬ РАБОТУ'

block content_style
	link(rel='stylesheet', type='text/css', href='/libs/css/pickmeup.min.css' + version)
	link(rel='stylesheet', type='text/css', href='/libs/css/font-awesome.css')
	link(rel='stylesheet', type='text/css', href='/libs/css/wysiwyg-editor.min.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/add.css' + version)

block content_scripts
	script(type='text/javascript', src='/libs/js/jquery.pickmeup.min.js' + version)
	script(type='text/javascript', src='/libs/js/wysiwyg.min.js' + version)
	script(type='text/javascript', src='/libs/js/wysiwyg-editor.min.js' + version)
	script(type='text/javascript', src='/libs/js/jquery-ui.min.js' + version)
	script(type='text/javascript', src='/libs/js/jquery.filedrop.js' + version)
	script(type='text/javascript', src='/build/js/' + __app_name + '/upload.js' + version)
	script(type='text/javascript', src='/build/js/' + __app_name + '/editor.js' + version)
	script(type='text/javascript', src='/build/js/' + __app_name + '/add.js' + version)
	script(type='text/javascript', src='/build/js/' + __app_name + '/a_events.js' + version)

block sub_menu
	a.sub_item.back_link(href='/admin/works') Назад

block content
	.form_block
		.title= content_title
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Название:
			+form_text_single('title', work)
			.form_title Описание:
			+form_text_multi('description', work)
			.form_title Обложка:
			input(type='file', name='poster')
			if (work.poster)
				input(type='checkbox', name='poster_del')
				span= ' | удалить обложку'
				br
				br
				input(type='checkbox', name='poster_hover', checked= work.poster_hover)
				span= ' | отключить наведение в списке работ'
			.form_title Изображения:
			+form_images_upload(work.images)
			.form_title Видимость:
			input(type='checkbox', name='status', value='hidden', checked=work.status == 'hidden')
			!= ' скрыть'
			.form_title Дата публикации:
			+form_date('date', work.date)
			br
			br
			input(type='submit', value='отправить')