html
body
	margin 0
	padding 0
	background-color rgb(204, 255, 0)

html, body, .content_block, .teaser_logo
	height 100%

.teaser_logo
	position absolute
	width 100%
	background-size contain
	background-repeat no-repeat

.contact
	display block
	color black
	font 14pt/16pt 'Helvetica'
	text-transform uppercase
	border-bottom 2px solid black
	bottom 20px
	text-align center