html
body
	margin 0
	padding 0
	background-color rgb(204, 255, 0)

html, body, .content_block, .teaser_logo
	height 100%

.teaser_logo
	position absolute
	width 100%
	background-size contain
	background-repeat no-repeat

.contact
	font 14pt/16pt 'Helvetica'
	bottom 20px
	position absolute
	bottom 20px
	width 100%
	text-align center
	a
		text-decoration none
		color black
		border-bottom 2px solid black
		text-transform uppercase