.block.left
	if (works && works.length > 0)
		each image in works[0].images
			if (image.position == 'left')
				.image_item
					.marquee: span(class=image.marquee, class=load && 'go')= image.description
					.image: img(src= image.thumb)

.block.right
	if (works && works.length > 0)
		each image in works[0].images
			if (image.position == 'right')
				.image_item
					.marquee: span(class=image.marquee, class=load && 'go')= image.description
					.image: img(src= image.thumb)