extends layout

block paths
	- var content_title= 'alina saulova'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/global.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/' + __app_name + '/main.js' + version)

block title
	if (session && session.user_id)
		.title_sub
			a(href='/auth') stargazer
			span= ' | '
			a(href='/auth/logout') выход

block content
	.works_block
		each work in works
			a.work_item(href='/works/' + work._short_id)
				.work_images
					each image,i in work.images
						.work_image(class=(i == 0) && 'active' style='background-image: url(' + image.thumb + ')')
				.work_title= work.title