extends layout

block paths
	- var content_title= 'alina saulova'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/' + __app_name + '/main.js' + version)

block title
	a(href='/cv') cv

block content
	.works_block
		each work in works
			a.work_item(href='/works/' + work._short_id, class=(work.poster_hover ? 'hover' : ''))
				if work.poster
					.work_poster(style='background-image: url(' + work.poster + ')')
				.work_images
					if !work.poster_hover
						each image,i in work.images
							if (!image.gallery)
								.work_image(style='background-image: url(' + image.preview + ')')
				.work_title= work.title