extends layout

block paths
	- var content_title= 'alina saulova'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/' + __app_name + '/main.js' + version)

block content
	h1 Alina!
	a(href='/auth') stargazer
	br
	br
	each work in works
		a(href='/works/' + work._short_id)= work.title
		br