extends layout

block paths
	- var content_title= 'alina saulova / works / ' + work.title

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/' + __app_name + '/main.js' + version)

block content
	h1= work.title
	a(href='/') back
	br
	br
	each item in images
		if item.length
			hr
			.gallery
				each g_item in item
					img(src=g_item.thumb, width=200 + 'px')
			hr
		img(src=item.thumb, width=item.size + 'px')
		br