extends layout

block paths
	- var content_title= 'alina saulova / work'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/' + __app_name + '/main.js' + version)

block content
	h1 work!
	a(href='/') back
	br
	br
	each item in images
		if item.length
			each gallery in item
				h3= gallery
		b= item