doctype html
html
	head
		title wassya kondrashov / cv
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/cv.css')
	body
		!=html