extends layout

block paths
	- var content_title= 'wassya kondrashov'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/teaser.css' + version)

//- block content_scripts
//- 	script(type='text/javascript', src='/build/js/' + __app_name + '/teaser.js' + version)

block content
	.teaser_logo(style='background-image: url(/stuff/' + __app_name + '/backgrounds/teaser.png)')
	.contact: a(href='phorma.phorma@gmail.com') contact