doctype html
html
	head
		block paths
		include header
	body
		.content_block
			block content
		.footer_block
			.left
				.counter
					span.current 1
					//- span /
					//- span.count 6
			.right
				if (session && session.user_id)
					a.stargazer(href='/auth') stargazer
				span.cv cv